/* Variables */

:root {
    --color-header: linear-gradient(90deg,rgba(146, 202, 253, 1) 0%, rgba(255, 228, 85, 1) 100%);
    --color-footer: linear-gradient(90deg,rgba(255, 228, 85, 1) 0%, rgba(146, 202, 253, 1) 100%);
    --color-fondo-azul: #f0f8ff;
    --color-fondo-amarillo: #fffff0;
    --font-titulo: "Montagu Slab", serif;
    --font-subtitulo: "Signika", sans-serif;
    --color-titulo-azul: #005BAC;
    --color-titulo-amarillo: #FFD700;
}

/* Etiquetas */

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

header {
    margin-bottom: 160px;
}

main {
    padding: 10px;
}

footer {
    background: var(--color-footer);
}

section{
    margin-bottom: 100px;
}

figure {
    width: 200px;
    float: right;
    margin-left: 30px;
}

figcaption {
    font-size: 14px;
}

tr {
    border-bottom: solid 1px #0000002b;
}

caption {
    color: black;
    font-weight: 500;
    font-size: 25px;
}

footer {
    padding: 8px;
}

ul {
    list-style: none;
    margin-bottom: 0;
}

li {
    font-size: 15px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-family: var(--font-subtitulo);
}

li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

/* Grupos */

.font-subtitulo {
    font-family: var(--font-subtitulo);
}

.titulo, figure, .sub-entrenar-nosotros {
    text-align: center;
}

.bg-azul {
    background: var(--color-fondo-azul);
}

.bg-amarillo {
    background: var(--color-fondo-amarillo);
}

th, td {
    padding: 10px;
    text-align: center;
}

footer, #registro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-amarillo, .titulo-azul {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 40px;
}

.titulo-azul {
    color: var(--color-titulo-azul);
}

.titulo-amarillo {
    color: var(--color-titulo-amarillo);
}

.sub-amarillo {
    font-weight: 300;
}

.sombra {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
    transition: transform 0.4s ease-in-out;
}

.sombra:hover {
    transform: scale(1.03); /* Aumenta el tamaño al pasar el mouse */
}

/* Header */

.logo-busqueda {
    width: 80%;
}

.logo{
    width: 80px;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1); /* Lo agranda un poco */
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.navbar {
    background: var(--color-header);
    position: fixed;
    width: 100%;
    top: 0; /* Lo coloca en la parte superior */
    left: 0;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Main */

/* bienvenido */

.titulo {
    font-family: var(--font-titulo);
}

/* sedes */

#sedes {
    background: var(--color-fondo-azul);
    padding: 20px
}

.div-sedes {
    display: flex;
    justify-content: space-between;
}

.contenedor-img-caption {
    order: 2;
}

.equipo-femenino {
    margin-bottom: 10px;
}

/* Beneficios */

#beneficios-g {
    display: none;
}

.texto-seccion {
    width: 80%;
    font-size: 15px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sub-entrenar-nosotros {
    font-weight: 380;
    font-size: 20px;
}

/* Testimonios */

#testimonios {
    border: solid 1px #0000002b;
    border-radius: 5px;
    background-color: var(--color-fondo-azul);
}

.equipo-hombres {
    border-radius: 5px;
    margin-bottom: 15px;
}

.p-testimonios {
    border: dotted 2px #0000002b;
}

/* Horarios */

.tabla {
    width: 80%;
    margin: auto;
}

.logo-horarios {
    width: 50px;
}

.cap-horarios {
    margin-bottom: 0;
}

/* Registro */

#registro {
    padding: 10px;
}

.texto-alentador {
    width: 50%;
    margin-left: 30px;
}

.btn {
    font-size: 14 px;
    margin-right: 25px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: black;
    transform: scale(1.1);
}

/* Footer */

.whatsapp::before {
    background-image: url(../assets/whatsapp-icono.svg);
}

.gmail::before {
    background-image: url(../assets/mailbox-icono.svg);
}

.instagram::before {
    background-image: url(../assets/instagram-icono.svg);
}

.github::before {
    background-image: url(../assets/github-icono.svg);
}

.github {
    transition: transform 0.2s ease-in-out;
}

.github:hover {
    transform: scale(1.1);
}

.github-texto {
    text-decoration: none;
    color: black;
}

/* Pagina de inscripcion */

.inscripcion {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: groove #0000002b;
    padding: 8px;
    background: var(--color-fondo-amarillo);
}

/* Etiquetas */

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Grupos */

.form-acudiente, .form-voleibolista {
    border-radius: 10px;
}

.acudiente, .voleibolista {
    width: 80%;
    margin: auto;
}

.btn-acudiente, .btn-voleibolista {
    font-weight: bold;
    margin-top: 40px;
}

/* Botones */

.btn-amarillo {
  background-color: #FFD700;
  transform: transition 0.3s ease-in-out;
}

.btn-amarillo:hover {
    transition: scale(1.3);
    background-color: #FFD700;
}

.btn-azul {
  background-color: #007BFF;
  transform: transition 0.3s ease-in-out;
}

.btn-azul:hover {
    transition: scale(1.3);
    background-color: #007BFF;
}

/* Fondo formularios*/

.container-formularios {
    background-image: url(../assets/cancha-volley.jpg);
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    background-size: cover;
    background-blend-mode: multiply; /* Mezcla el fondo con el color */
    background-position: center;
}

.form-acudiente {
    padding-bottom: 50px;
}

.form-voleibolista {
    padding-top: 50px;
}

/* Titulos */

.titulo-amarillo-claro {
    color: #fafade;
} 

.titulo-azul-claro {
    color: #d9edff;
}
