/* Variables */

:root {
    --color-header: linear-gradient(90deg,rgba(146, 202, 253, 1) 0%, rgba(255, 228, 85, 1) 100%);
    --color-footer: linear-gradient(90deg,rgba(255, 228, 85, 1) 0%, rgba(146, 202, 253, 1) 100%);
    --color-fondo-azul: #f0f8ff;
    --color-fondo-amarillo: #fffff0;
    --font-titulo: "Montagu Slab", serif;
    --font-subtitulo: "Signika", sans-serif;
}

/* Etiquetas */

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

header {
    background: var(--color-header);
    margin-bottom: 100px;
}

main {
    padding: 10px;
}

footer {
    background: var(--color-footer);
}

section{
    margin-bottom: 100px;
}

figure {
    width: 250px;
    float: right;
    margin-left: 8px;
}

tr {
    border-bottom: solid 1px #0000002b;
}

caption {
    color: black;
    font-weight: 500;
    font-size: 25px;
}

/* Grupos */

.font-subtitulo {
    font-family: var(--font-subtitulo);
}

.titulo, figure, .sub-entrenar-nosotros {
    text-align: center;
}

.bg-azul {
    background: var(--color-fondo-azul);
}

.bg-amarillo {
    background: var(--color-fondo-amarillo);
}

th, td {
    padding: 10px;
    text-align: center;
}

/* Header */

.logo-busqueda {
    width: 80%;
}

.logo{
    width: 100px;
    margin-bottom: 25px;
}

/* Main */

/* bienvenido */

.titulo {
    font-family: var(--font-titulo);
}

/* sedes */

.sedes {
    background: var(--color-fondo-azul);
    height: 300px;
    padding: 60px 10px 0 10px;
}

.equipo-femenino {
    float: left;
}

/* Entrena con nosotros */

.entrena-con-nosotros-g {
    display: none;
}

.texto-seccion {
    padding: 15px;
    font-size: 15px;
}

.sub-entrenar-nosotros {
    font-weight: 380;
    font-size: 20px;
}

/* Testimonios */

.testimonios {
    border: solid 1px #0000002b;
    border-radius: 5px;
    background-color: var(--color-fondo-azul);
}

.equipo-hombres {
    border-radius: 5px;
    margin-bottom: 15px;
}

.p-testimonios {
    border: dotted 2px #0000002b;
}

/* Horarios */

.tabla {
    width: 80%;
    margin: auto;
}

.logo-horarios {
    width: 50px;
}

/* Registro */

.registro {
    padding: 20px;
    display: flex;
}

/* Footer */


